<p>Hello Support Team, just to let you know that a new query has been created on <%= @contact.created_at %></p>
<ul>
  <li>Name: <%= @contact.name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Mobile Number: <%= @contact.mobile_number %></li>
  <li>Comment: <%= @contact.comment %></li>
</ul>
