<p>Hello Feedback Team, just to let you know that a new query has been created on <%= @feedback.created_at %></p>
<ul>
  <li>Name: <%= @feedback.name %></li>
  <li>Email: <%= @feedback.email %></li>
  <li>Domain: <%= @feedback.domain %></li>
  <li>Mobile Number: <%= @feedback.mobile_number %></li>
  <li>Comment: <%= @feedback.comment %></li>
</ul>
